<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>This one</h2>
                <p>Picture description</p>
            </div>
            <div class="col-md-4">
                <h2>This two</h2>
                <p>description</p>
            </div>
            <div class="col-md-4">
                <h2>This three</h2>
                <p>description</p>
            </div>
        </div>
    </div>

</div>
