<div class="jumbotron">
    <div class="container">
        <style>
        #map {
            height: 400px;
            width: 100%;
        }
        </style>

        <div>
            <h2>We are located at the corner of W. Wenger Rd. and S. Main St. in Englewood, just off of I-70 exit 29 SR-48 (Main St).</h2>
        </div>

        <div id="map">
            <script>
            function initMap() {
                var uluru = {lat: 39.86251, lng: -84.285799};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom:15,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                })
            }
            </script>

        </div>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCQfKoiM0TGbO4LbfjOtDhzJv6JoQ5ByQ&callback=initMap"
        type="text/javascript"></script>
    </div>
</div>
