<div class="jumbotron">
    <div class="container row">
        <div class="col-md-4">
            <img src="/assets/forms.jpg" alt="forms" class="img-responsive">
        </div>
        <div class="col-md-8">
            <h2>Coming in for an appointment?</h2>
            <h2>Come prepared, with the following forms filled our beforehand.</h2>
            <ul>
                <li><a href="/assets/forms/patientdemographics.pdf">Patient Information</a></li>
                <li><a href="/assets/forms/patienthistory.pdf">Patient History</a></li>
                <li><a href="/assets/forms/patientsignature.pdf">Signature on File</a></li>
            </ul>
        </div>
    </div>
</div>
