<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/marcjacobs.png" alt="marc jacobs" class="img-responsive">
                <h2>Marc Jacobs</h2>
                <p>description</p>
            </div>
            <div class="col-md-4">
                <h2>OGA</h2>
                <p>description</p>
            </div>
            <div class="col-md-4">
                <h2>Kate Spade</h2>
                <p>description</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Boss</h2>
                <p>description</p>
            </div>
            <div class="col-md-4">
                <h2>Tommy Hilfiger</h2>
                <p>description</p>
            </div>
            <div class="col-md-4">
                <h2>Carrera</h2>
                <p>description</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Phoebe Couture</h2>
                <p>description</p>
            </div>
            <div class="col-md-4">
                <h2>Liz Claiborn</h2>
                <p>description</p>
            </div>
            <div class="col-md-4">
                <h2>Koali</h2>
                <p>description</p>
            </div>
        </div>
    </div>

</div>
