<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Englewood Optometry</h1>
        <p>A locally owned business that has been serving the needs of the Dayton community for over 30 years.</p>
    </div>

    <div class="container">
        <img src="/assets/frames.jpg" alt="splash picture" class="img-responsive">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h2>Hours</h2>
                <p>Tuesday: 2:00pm to 5:00pm</p>
                <p>Wednesday: 8:00am to 5:00pm</p>
                <p>Thursday: 8:00am to 5:00pm</p>
                <p>Friday: 8:00am to 12:00pm</p>
                <p>Saturday: By appointment only</p>
                <p>Closed Sunday and Monday</p>
            </div>
            <div class="col-md-4">
                <h2>Contact Us</h2>
                <p>Phone: 937-836-6621</p>
                <p>Email: somethinghere</p>
                <p>Englewood Optometry</p>
                <p>5 W. Wenger Rd. Suite D</p>
                <p>Englewood, OH 45322</p>
            </div>
        </div>
    </div>

</div>
