<div class="jumbotron">
    <div class="container row">
        <div class="col-md-4">
            <img src="/assets/insurance.jpg" alt="insurance" class="img-responsive">
        </div>
        <div class="col-md-8">
            <h2>Insurance Providers</h2>
            <h4>We accept a variety of insurances. Here is a brief list of some of the insurances we accept. Please call for more information regarding specific plans.</h4>
            <ul>
                <li>VSP</li>
                <li>VCP/Humana</li>
                <li>Superior Vision</li>
                <li>Most Eyemed</li>
            </ul>
        </div>
    </div>
</div>
