<div class="jumbotron">
    <div class="container row">
        <div class="col-md-4">
            <img src="/assets/eyecolor.jpg" alt="color eye" class="img-responsive">
        </div>
        <div class="col-md-8">
            <h2>We care about every one of our patients</h2>
            <p>When you walk in the door... etc.</p>
        </div>
    </div>
</div>
