<div class="jumbotron">
    <div class="container row">
        <div class="col-md-4">
            <img src="/assets/pricing.jpg" alt="pricing" class="img-responsive">
        </div>
        <div class="col-md-8">
            <h2>Pricing</h2>
            <table>
                <thead>
                    <th>Service</th>
                    <th>Cost</th>
                </thead>
                <tr>
                    <td>Eye exam (with insurance)</td>
                    <td>$110 (first visit)</td>
                </tr>
                <tr>
                    <td>Eye exam (self pay)</td>
                    <td>$65 (first visit)</td>
                </tr>
                <tr>
                    <td>New contact lens fitting</td>
                    <td>$75</td>
                </tr>
                <tr>
                    <td>Contact lens refit</td>
                    <td>$25</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <h2>Discounts and Promotions</h2>
        <p>Refer a friend and receive a $20 credit when they come in for their first appointment!</p>
    </div>
</div>
